<div class="padre">
    <div class="principal d-flex align-items-center justify-content-center container-fluid">
        <div class="row">
            <div class="image d-none d-lg-block col-lg-2 mt-5">
                <img src="../../../assets/img/logotam.png" alt="">
            </div>
            <div class="d-none d-md-flex d-xs-none col-md-4 col-lg-6 align-items-center justify-content-center">
                <div class="text">
                    <h3>HOLA, BIENVENIDO</h3>
                    <p>PLATAFORMA DE REGISTRO Y EVALUACION DEL PREMIO ESTATAL DE LA INNOVACION, "EL PREMIO TAMAULIPAS ICT"</p>
                </div>
            </div>
            <div class="col-xs-8 col-sm-10 col-md-6 col-lg-4 mt-5">
                <div class="login">
                    <div class="contenido">
                        <div class="iniciar">
                            <h5 class="">Iniciar Sesion</h5>
                        </div>
                        <div class="email">
                            <label for="">Email</label>
                        </div>
                        <div class="input-group form-group">
                            <i class="far fa-envelope icon"></i>
                            <input type="text" placeholder="Email" class="form-control input-form ">
                        </div>
                        <div class="password">
                            <label for="">Contraseña</label>
                        </div>
                        <div class="password form-group">
                            <input type="password" placeholder="Contraseña" class="form-control input-form">
                        </div>

                        <div class="olvidar">
                            <p>¿Olvidaste tu contraseña? <a href="" [routerLink]="['/recovery']" class="color:blue;">Click aqui</a></p>
                        </div>
                        <div class="button">
                            <button class="btn btn-primary">Iniciar Sesion</button>
                        </div><br>
                        <div class="cuenta">
                            <p>¿No estas registrado?</p>
                            <a href="" [routerLink]="['/registration']" class="color:blue;">Crea una cuenta</a>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>