<div #mobile class="wrapper nav-mobile">
    <button class="toggle" (click)="toggle()"><i class="fas fa-bars"></i></button>
</div>

<div class="wrapper">
    <div class=" sidebar-s sidebar">
        <div class="sidebar-menu">
            <!-- logo tamaulipas -->
            <div class="profile">
                <img src="assets/img/logotam.png" alt="">
                <!-- <p>Hola, Bienvenido</p> -->
                <p><span> </span></p>
                <hr>
            </div>
            <div class="indicador">
                <p><span>Inicio</span></p>
            </div>
            <li class="item">
                <a *ngIf="isAAdmin" [routerLink]="['init']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-home"></i><span> Inicio <i class="fas fa-chevron-right drop-down"></i></span>

                <a *ngIf="isAJudge" [routerLink]="['projects']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-home"></i><span> Proyectos <i class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a *ngIf="!isAAdmin && !isAJudge" [routerLink]="['add-applicants']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-users"></i><span> Registro <i
                            class="fas fa-chevron-right drop-down"></i></span>
                </a>

                <a *ngIf="!isAAdmin && !isAJudge" [routerLink]="['add-proposal']" routerLinkActive="active" class="menu-btn">
                    <i class="far fa-file-alt"></i><span> Propuesta <i
                            class="fas fa-chevron-right drop-down"></i></span>
                </a>


                <a *ngIf="isAAdmin" [routerLink]="['judges-proyects']" routerLinkActive="active" class="menu-btn">
                    <i class="far fa-file-alt"></i><span> Asignar proyectos <i
                            class="fas fa-chevron-right drop-down"></i></span>
                </a>

                <a *ngIf="isAAdmin" [routerLink]="['judges']" routerLinkActive="active" class="menu-btn">
                    <i class="far fa-file-alt"></i><span> Jueces <i
                            class="fas fa-chevron-right drop-down"></i></span>
                </a>

                <!-- <a *ngIf="isAAdmin" [routerLink]="['califications']" routerLinkActive="active" class="menu-btn">
                    <i class="far fa-file-alt"></i><span> Calificaciones <i
                            class="fas fa-chevron-right drop-down"></i></span>
                </a> -->


                <a [routerLink]="['']" class="menu-btn" style="cursor: pointer;" (click)="cerrar()">
                    <i class="fas fa-times-circle"></i><span> Cerrar sesión</span>
                </a>

            </li>

        </div>
    </div>

    <div class="main-container">
        <!-- <nav class="navbar navbar-light bg-light justify-content-between mb-3 p-3">
            <p class="">Categoria: <span class="ml-3 category-label">Administrador</span></p>
        </nav> -->

        <router-outlet></router-outlet>
    </div>

</div>