.div-blue {
    width: 100%;
    height: 1px;
    background: #266AA7;
}

.titulo {
    font-size: 30px;
}

.datos {
    margin-top: 30px;
}

span {
    color: red;
}
.title-page{
    color: #266AA7;
}

.div-blue{
    width: 100%;
    height: 1px;
    background: #266AA7;
}
.div-blue{
    width: 100%;
    height: 2px;
    background: #266AA7;
}