<div class="desactivar d-flex align-items-center justify-content-center"
     *ngIf="userData.propuesta!='No data' || registroTerminado">
    <h1>ASPIRANTES YA REGISTRADOS</h1>
</div>
<h2 class="title-page ml-2">Registrar propuesta</h2>
<div class="div-blue ml-2"></div>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="col-3"></div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row">
            <form action="" [formGroup]="formAspirante" (submit)="onSubmit($event)">
                <div class=" datos ">
                    <div class="mt-3 ">
                        <label for=" ">Nombre y/o título de la propuesta <span>*</span></label>
                    </div>
                    <div>
                        <input type="text " name=" " formControlName="nombre_propuesta" id=" " class="form-control " placeholder="Ingrese el nombre " />
                    </div>
                    <div class="mt-3 ">
                        <label for=" ">Nombre completo del primer aspirante <span>*</span></label>
                    </div>
                    <div>
                        <input type="text " name=" " formControlName="p_aspirante" id=" " class="form-control " placeholder="Nombre completo " />
                    </div>
                    <div class="mt-3 ">
                        <label for=" ">Nombre completo del segundo aspirante</label>
                    </div>
                    <div>
                        <input type="text " name=" " formControlName="s_aspirante" class="form-control " id=" " placeholder="Nombre completo segundo aspirante " />
                    </div>
                    <div class="mt-3 ">
                        <label for=" ">Nombre completo del tercer aspirante</label>
                    </div>
                    <div>
                        <input class="form-control " formControlName="t_aspirante" type="text " name=" " id=" " placeholder="Nombre completo tercer aspirante " />
                    </div>
                </div>
            </form>
            <form enctype="multipart/form-data" (submit)="onSubmit($event.target.files)">
                <div class="datos">
                    <div class="mt-3 ">
                        <label for=" ">Carta firmada o sellada por la institución de origen <span>*</span>  (500 KB)</label
            >
          </div>
          <div>
            <input
            required
              #carta
              type="file"
              accept=".pdf " 
              name=" "
              class="form-control"
            />
          </div>
          <div class="mt-3 ">
            <label for=" ">Carta de postulación <span>*</span>  (500 KB)</label>
                    </div>
                    <div>
                        <input required #c_postulacion type="file" accept=".pdf" name=" " class="form-control" />
                    </div>
                    <div class="mt-3 ">
                        <label for=" ">Justificar la alineación al Plan Estatal de Desarrollo
              2016-2022 <span>*</span>  (500 KB)</label
            >
          </div>
          <div>
            <input
              type="file"
              required
              accept=".pdf "
              name=" "
              #justificacion
              class="form-control"
            />
          </div>
          <div class="mt-3 ">
            <label for=" ">Estructura de la propuesta en extenso <span>*</span>  (2 MB)</label>
                    </div>
                    <div>
                        <input required type="file" name=" " #estructura class="form-control" accept=".pdf" />
                    </div>
                    <div class="mt-3 ">
                        <input type="submit" value="Registrar" />
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-3 "></div>